body{
    background-color: azure;
}

.headcenter{
    text-align: center;
}

.footer{
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
}

.hello{
    font-style: italic;
}
